@font-face {
	font-family: 'entypo';
	src: url('entypo.eot');
	src: url('entypo.eot?#iefix') format('embedded-opentype'),
	url('entypo.woff') format('woff'),
	url('entypo.ttf') format('truetype'),
	url('entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'entypo-social';
	src: url('entypo-social.eot');
	src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
	url('entypo-social.woff') format('woff'),
	url('entypo-social.ttf') format('truetype'),
	url('entypo-social.svg#entypo-social') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*section#characters ul {*/
/*	list-style: none;*/
/*}*/
/**/
/*section#characters li {*/
/*	float: left;*/
/*	font-family: "entypo";*/
/*	font-size: 4em;*/
/*}*/

 